/* MEDIA QUERYS */
@media only screen and (max-width: 1570px) {
    header >h1{
        font-size: 6em !important;
    }
}

@media only screen and (max-width: 1220px) {
    header > h1{
        font-size: 5em !important;
    }
}

@media only screen and (max-width: 1020px) { 
    header > h1{
        font-size: 4em !important;
    }
    .css-heg063-MuiTabs-flexContainer {
        width: 80vw !important;
    }
}

@media only screen and (max-width: 860px) {
    header > h1{
        font-size: 2.5em !important;
    }
}

@media only screen and (max-width: 650px) {
    .css-heg063-MuiTabs-flexContainer {
        flex-direction: column !important;
    }
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root, .css-1t4lqmc-MuiButtonBase-root-MuiTab-root, .css-1ocpf3a-MuiButtonBase-root-MuiTab-root {
        width: 100% !important;
    }
}

@media only screen and (max-width: 510px) {
    header > h1{
        font-size: 1.5em !important;
    }
    header > h2{
        font-size: 1em;
    }
}

@media only screen and (max-width: 345px) {
    header > h1{
        font-size: 1.3em !important;
    }
}

/* COLORS */
:root{
    width: 100% !important;
    --darkGrey: #878787;
    --texts: #4B4643;
    --darkMint: #008080;
    --creamWhite: #FFFFF0;
    --lightMintBorder: #ACC9C2;
    --brightYellow: #ffdf22;
    --lessBrightYellow: #f6dd3c;
}
/* MAIN PARTS */

#root{
    color: var(--creamWhite);
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif Khojki", serif;
    padding: 1% 2%;
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--darkGrey);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

main {
    max-width: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

header {
    height: min-content;
    background: linear-gradient(145deg, rgba(2,0,36,1) 0%, var(--darkMint) 35%, var(--brightYellow) 100%);
    border-radius: 10px;
    color: var(--creamWhite);
    padding: 5% 0 0 0;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 26% 14% 60%;
    text-align: center;
    letter-spacing: 2px;
    align-items: start;
}

article {
    display: flex;
    align-items: center;
    margin: 2% 0;
    padding: 3% 0;
    flex-direction: column;
}

.css-13xfq8m-MuiTabPanel-root{
    display: contents;
}

.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: center;
}

/**** PROJECT NAVIGATION ****/
.css-1aquho2-MuiTabs-indicator {
    display: none;
}
.css-1ocpf3a-MuiButtonBase-root-MuiTab-root>.MuiTab-iconWrapper {
    height: 50%;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root, .css-1t4lqmc-MuiButtonBase-root-MuiTab-root, .css-1ocpf3a-MuiButtonBase-root-MuiTab-root {
    font-size: 1.9em !important;
    width: 50%;
    margin: auto;
    min-height: 4em !important;
    padding: 0 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected, .css-1t4lqmc-MuiButtonBase-root-MuiTab-root.Mui-selected, .css-1ocpf3a-MuiButtonBase-root-MuiTab-root.Mui-selected{
    border-bottom: #ffdf22 dotted 2px !important;
    border-radius: 50px;
}
.navLinks, .navLinks2, .navLinks3{
    margin-top: 1%;
}
.css-heg063-MuiTabs-flexContainer {
    width: 60vw;
    justify-content: space-around;
    align-items: center;
}
hr {
    height: 3px;
    width: 60%;
    margin: 4em;
    border: none;
    outline: none;
    background: linear-gradient(0.25turn, var(--darkMint), var(--creamWhite), var(--brightYellow));
}

/* TEXTS */

header h1{
    font-size: 8em; 
    margin: auto;
}

.headerText{
    align-self: center;
    text-align: left;
    margin: auto;
    min-width: 80%;
}

h1{
    font-size: 3rem;
}

.projectHeading {
    width: 32%;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.6em;
    margin-top: 1.5em;
}

.multicolorText{
    background-image: linear-gradient(to right, rgb(61, 7, 61), rgb(152, 25, 25), rgb(18, 18, 118), rgb(15, 112, 15), rgb(250, 165, 54), rgb(250, 232, 70));

    background-clip: text;
    -webkit-text-fill-color: transparent;
}
p, a {
    font-size: 1.3rem;
    font-weight: bolder;
    max-width: 70%;
    padding-left: 2%;
}

/* #links > div {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */


/* WORM GAME  */

iframe {
    width: 90%;
    height: 56vh;
    border: none;
}

#mainPortrait {
    grid-row: 1 / span 3;
    max-width: 100%;
    align-self: end;
}

/* PROJECT IMAGES */
section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 1em 2em;
}

.projectImg{
    width: 100% !important;
    max-height: 47em;
}

#wormGameImg{
    max-width: 70%;
    max-height: 30%;
    margin-bottom: 5%;
}

/* CSS classes */

.box_shadow {
    box-shadow: inset 0 -0.2em 0.1em var(--darkMint),
    0.2em 0.2em 0.9em var(--brightYellow);
    border-radius: 10px;
}

.bolderText{
    font-weight: 600;
    font-size: 1.8em;
}

